{% set sidebar_name = "资讯分类" %}
{% set menu_name = "news" %}
{% include "@gcommon/cms/views/layouts/cmstop2.twig" %}
<div class="content">
<div class="nav">
    <h5>当前位置：<a href="">分类管理</a>>>编辑分类</h5>
</div>
{% block content %}
<div class="container">
    {% if App.session.hasFlash('success') %}
  <div class="alert alert-success message">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Well done! {{ App.session.getFlash('success')|raw }}</strong>
  </div>
  {% endif %}
{% set form = activeform.begin({'id':'create-form','options':{'enctype':'multipart/form-data','class':'form-horizontal form-horizontal'}}) %}

<div  class="control-group">
      <label for="Category_name" class="control-label required">父类 <span class="required">*</span></label>
      <div class="controls">
         {{ parent.name }}
      </div>
</div>
  {{ form.field(model, "name")|raw }}
  {{ form.textFieldRow(model, "url", {'placeholder':'url'})|raw }}
  {{ form.field(model, "short_name")|raw }}
  {{ form.field(model, "description")|raw }}
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-large btn-primary">submit</button>
    </div>
  </div>
 {{ void(form.end()) }}
</div>
{% endblock %}
</div>