{% set sidebar_name = "出入库查询" %}
{% set menu_name = "stock" %}
{% extends "@app/views/layouts/header.twig" %}
{% block content %}
        <div class="page-head">
        <!-- Page heading -->
        <h2 class="pull-left"><i class="fa fa-file-o"></i> Stock</h2>
        </h2>


        <!-- Breadcrumb -->
        <div class="bread-crumb pull-right">
          <a href="index.html"><i class="fa fa-home"></i> Home</a> 
          <!-- Divider -->
          <span class="divider">/</span> 
          <a href="#" class="bread-current">Forms</a>
        </div>

        <div class="clearfix"></div>

      </div>
        <!-- Page heading ends -->
        <!-- Matter -->
         <div class="matter">
        <div class="container">

          <div class="row">

            <div class="col-md-12">


              <div class="widget wgreen">
                
                <div class="widget-head">
                  <div class="pull-left">Forms</div>
                  <div class="widget-icons pull-right">
                    <a href="forms.html#" class="wminimize"><i class="fa fa-chevron-up"></i></a> 
                  </div>
                  <div class="clearfix"></div>
                </div>
                {% include "@app/views/layouts/notice.twig" %}
                <div class="widget-content">
                  <div class="padd">

                    <br />
                    <!-- Form starts.  -->
                     {% set form = activeform.begin({'id':'create-form','layout':'horizontal','fieldConfig':{'horizontalCssClasses':{'wrapper':'col-lg-5'} } }) %} 
                    <div class="alert alert-success">
                          {{ form.errorSummary(model)|raw }}
                    </div>
                          <div class="form-group">
                              <label class="col-lg-2 control-label">物料</label>
                              <div class="col-lg-5">
                                {{ 
                                widget('\\kartik\\widgets\\Select2',{
                                    'model':model,
                                    'attribute':'material_id',
                                    'data':model.getCanUseMaterial(),
                                    'options':{'placeholder':'Select a material ...'},
                                    'pluginOptions':{'allowClear':true},
                                 })
                             }}
                              </div>
                            </div>
                            {{ form.field(model,'increase').dropDownList(model.getStockStatus()).label(null,{'class':'control-label col-lg-2'})|raw }} 
                                    <hr />
                                <div class="form-group">
                                  <div class="col-lg-offset-2 col-lg-6">
                                    <button type="submit" class="btn btn-sm btn-success">查询</button>
                                  </div>
                                </div>
                               {{ void(form.end()) }}
                  </div>
                </div>
                  <div class="widget-foot">
                    <!-- Footer goes here -->
                  </div>
              </div>  

            </div>
            <div class="matter">
        <div class="container">

          <div class="row">

            <div class="col-md-12">
            {% if dataProvider is not empty %}
                            <div class="widget">

                <div class="widget-head">
                  <div class="pull-left">Tables</div>
                  <div class="widget-icons pull-right">
                    <a href="tables.html#" class="wminimize"><i class="fa fa-chevron-up"></i></a> 
                    <a href="tables.html#" class="wclose"><i class="fa fa-times"></i></a>
                  </div>  
                  <div class="clearfix"></div>
                </div>

                  <div class="widget-content">
{{ widget('\\yii\\grid\\GridView', {
            'layout':'\n{items}\n{pager}',         
            'id':'app-grid', 
            'tableOptions':{'class':'table table-striped table-bordered table-hover'},
            'dataProvider':dataProvider,
            'pager':{
                'class':'\\common\\extensions\\Page\\CPageLink',
            },
            'columns':{
                1:{'attribute':'increase','value':'if($model->increase == 1){return "出库";}else{return "入库";}'|value_callback},
                2:{
                  'attribute':'material_id',
                  'value':'return $model->material->name;'|value_callback,
                },
                3:{
                  'attribute':'storeroom_id',
                  'value':'return $model->storeroom->name;'|value_callback,
                },
                4:{
                  'attribute':'project_id',
                  'value':'return $model->projects->name;'|value_callback,
                },
                5:{
                  'attribute':'owner_id',
                  'value':'return $model->owners->english_name;'|value_callback,
                },
                6:{
                  'attribute':'forecast_quantity',
                  'value':'if($model->increase == 1){return "";}else{return $model->forecast_quantity;}'|value_callback,
                },
                7:'actual_quantity',
                8:'stock_time',
                9:'delivery',
                10:{
                  'attribute':'出入库标记',
                  'format':'raw',
                  'value':model.getLink()|value_callback,
                },
        }})
    }}

                    <div class="widget-foot">
                      <div class="clearfix"></div> 

                    </div>

                  </div>
                </div>
            {% endif %}
          </div>
        </div>
      </div>
          </div>

        </div>
      </div>
{% endblock %}
