{% set menu_name = "goods" %}
{% set sidebar_name = "商品属性添加" %}
{% include "../layouts/header.twig" %}
<div class="content">
    <h5>商品属性添加</h5>
    {% block content %}
    <div class="container">
        {% if hint is defined  %} <span style="color:red"> {{ hint }} </span>{% endif %} {# 如有提示则显示提示 #}
        <div class="row">
            <div class="form">
                {% set form = activeform.begin({'id':'create-form','options':{'enctype':'multipart/form-data','class':'form-horizontal'}}) %}
                    {% for value in attribute %}
                        <div class="form-group">
                            <label class="col-sm-1 control-label">{{ value.attr_name }}</label>
                            <input type="text" class="form-control"
                                {% if value.attr_type == 1 %}
                                    style="width: 8%"  name="AttributeValueBack[{{ value.attr_id }}][]"
                                {% elseif  value.attr_type == 2 %}
                                    name="AttributeValueBack[{{ value.attr_id }}]"
                                {% endif %}
                            />
                            <div class="help-block"></div>
                        </div>
                    {% endfor %}
                <div class="form-group">
                    <input type='submit' value='提交' class='btn btn-large btn-primary' />
                </div>
                {{ void(form.end()) }}
            </div>
        </div>

    </div>
</div>
{% endblock %}
</div>



