{% set sidebar_name = "添加物主" %}
{% set menu_name = "owner" %}
{% extends "../layouts/header.twig" %}
{% block content %}
        <div class="page-head">
        <!-- Page heading -->
          <h2 class="pull-left">Owners
          <!-- page meta -->
          <span class="page-meta"></span>
        </h2>


        <!-- Breadcrumb -->
        <div class="bread-crumb pull-right">
          <a href="index.html"><i class="icon-home"></i> Home</a> 
          <!-- Divider -->
          <span class="divider">/</span> 
          <a href="#" class="bread-current">Forms</a>
        </div>

        <div class="clearfix"></div>

        </div>
        <!-- Page heading ends -->



        <!-- Matter -->
          <div class="matter">
        <div class="container">

          <div class="row">

            <div class="col-md-12">


              <div class="widget wgreen">
                
                <div class="widget-head">
                  <div class="pull-left">Forms</div>
                  <div class="widget-icons pull-right">
                    <a href="forms.html#" class="wminimize"><i class="fa fa-chevron-up"></i></a> 
                  </div>
                  <div class="clearfix"></div>
                </div>
                {% include "../layouts/notice.twig" %}
                <div class="widget-content">
                  <div class="padd">

                    <br />
                    <!-- Form starts.  -->
                     {% set form = activeform.begin({'id':'create-form','layout':'horizontal','fieldConfig':{'horizontalCssClasses':{'wrapper':'col-lg-6'} } }) %}     
                            {{ form.field(model,'english_name',{'inputOptions':{'class':'form-control'}}).label(null,{'class':'control-label col-lg-2'})|raw}}
                            {{ form.field(model,'email',{'inputOptions':{'class':'form-control'}}).label(null,{'class':'control-label col-lg-2'})|raw}}
                            {{ form.field(model,'phone',{'inputOptions':{'class':'form-control'}}).label(null,{'class':'control-label col-lg-2'})|raw}}
                            {{ form.field(model,'tell',{'inputOptions':{'class':'form-control'}}).label(null,{'class':'control-label col-lg-2'})|raw}}
                            {{ form.field(model,'password',{'inputOptions':{'class':'form-control'}}).passwordInput().label(null,{'class':'control-label col-lg-2'})|raw}}
                                    <hr />
                                <div class="form-group">
                                  <div class="col-lg-offset-2 col-lg-6">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                  </div>
                                </div>
                               {{ void(form.end()) }}
                  </div>
                </div>
                  <div class="widget-foot">
                    <!-- Footer goes here -->
                  </div>
              </div>  

            </div>

          </div>

        </div>
      </div>
{% endblock %}

