{% set menu_name="editor"%}
{% set sidebar_name = "首页最新照片" %}
{% include "@gcommon/cms/views/layouts/cmstop2.twig" %}
{% block content %}
<div class="content">

<div class="grid-view" id="app-grid">
    <div class="summary">推荐到首页的最新宠物照片，</div>
    <span style="color:red">可以显示到首页的总条数:&nbsp;&nbsp;{{ count }}&nbsp;&nbsp;条</span>
<table class="table table-striped table-bordered"><thead>
<tr>
    <!--th>
        <input type="checkbox" name='checkall[]' >全选
    </th-->
    <th>照片ID</th>
    <th>照片</th>
    <th>照片主人ID</th>
    <th>时间</th>
    <th>操作</th>
</tr>
</thead>
<tbody>
{% if new_photos is not empty %}
{% for k,v in new_photos %}
    <tr data-key="6">
        <!--td><input type="checkbox" checked disabled name="selection[]" value="{{ v.pht_id }}"></td-->
        <td><span style="color:red" >{{ v.pht_id }}</span></td>
        <td><img src="{{ v.pht_image }}" width='50' height='50'></td>
        <td><span style="color:red" >{{ v.pht_userid }}</span></td>
        <td><span style="color:red" >{{ v.pht_cdate }}</span></td>
        <td>
            <a class="delete" href="/cms/editor/cancel-photo?pht_id={{ v.pht_id }}">取消首页展示</a>
        </td>
    </tr>
{% endfor %}
{% endif %}
</tbody>
</table>
<div class="summary">最新的100条照片数据</div>
       {{
  widget('\\yii\\grid\\GridView', {            
            'id':'app-grid', 
            'class':'grid-view',
            'dataProvider':model.getAllOldData(), 
            'filterModel':model, 
            'columns':{
                1:'pht_id',
                6:'pht_title',
                4:{'attribute':'pht_image','format':'html','value':model.getImage,},
                3:{'attribute':'pht_userid'},
                2:{'attribute':'pht_cdate','format':['date','Y-m-d H:i:s']},
                5:{
                    'attribute':'push',
                    'format':'html',
                    'value':model.getAhref,
                }
}})

}}
<!--ul class="pagination">
<li class="active">
    <input type="button" value="批量发布到首页" onclick="pushAllToIndex('push')">
    <input type="button" value="批量取消发布" onclick="pushAllToIndex('cancel')"></li>
</ul--></div>
</div>
<script type="text/javascript">
$(".delete").attr("onClick",'return confirm("是否将此用户信息删除?")');
</script>
<script type="text/javascript">
    $("body").find("input[name='checkall']").click(function(){
        var ischeck = $(this).prop("checked");
        if(ischeck){
            $("input[type='checkbox']").attr("checked","checked");
        }else{
            $("input[type='checkbox']").attr("checked","");
        }
    });
    // function checkAll(){

    // }
    function pushAllToIndex(act){
        var data = [];
        $("input[name='selection[]']:checkbox").each(function(){
            if($(this).prop("checked")){
                data.push($(this).val());
            }
        });

        if(data.length >0){
            if(act == 'push'){
                url = '/cms/editor/checkall?act=push';
            }else{
                url = '/cms/editor/checkall?act=cancel';
            }
            $.post(url,{'selection[]':data},function(data){
                alert("有"+data+"只宠物被成功推送到首页展示！");
                // window.location.reload();
            });
        }else{
            alert("请选择要推送或取消的宠物的Id!");
        }
    }

</script>
{% endblock %}
