{% set menu_name="editor"%}
{% set sidebar_name = "首页最新宠物" %}
{% include "@gcommon/cms/views/layouts/cmstop2.twig" %}
{% block content %}
<div class="content">

<div class="grid-view" id="app-grid">
    <div class="summary">推荐到首页的最新宠物头像，首页只显示最新的16条数据</div>
    <span style="color:red">可以显示到首页的总条数:&nbsp;&nbsp;{{ count }}&nbsp;&nbsp;条</span>
<table class="table table-striped table-bordered"><thead>
<tr>
    <!--th>
        <input type="checkbox" name='checkall[]' >全选
    </th-->
    <th>宠物ID</th>
    <th>宠物名称</th>
    <th>宠物头像</th>
    <th>宠物主人ID</th>
    <th>操作</th>
</tr>
</thead>
<tbody>
{% if new_dogs is not empty %}
{% for k,v in new_dogs %}
    <tr data-key="6">
        <!--td><input type="checkbox" checked disabled name="selection[]" value="{{ v.dog_id }}"></td-->
        <td><span style="color:red" >{{ v.dog_id }}</span></td>
        <td><span style="color:red" >{{ v.dog_name }}</span></td>
        <td><img src="http://www.goumin.com/api/getHeadImage.php?head_id={{ v.dog_userid }}"></td>
        <td><span style="color:red" >{{ v.dog_userid }}</span></td>
        <td>
            <a class="delete" href="/cms/editor/cancel-dog?dog_id={{ v.dog_id }}">取消首页展示</a>
        </td>
    </tr>
{% endfor %}
{% endif %}
{% if dogs is not empty %}
{% for k,v in dogs %}
    <tr data-key="6">
        <td><input type="checkbox" name="selection[]" value="{{ v.dog_id }}"></td>
        <td>{{ v.dog_id }}</td>
        <td>{{ v.dog_name }}</td>
        <td><img src="http://www.goumin.com/api/getHeadImage.php?head_id={{ v.dog_userid }}"></td>
        <td>{{ v.dog_userid }}</td>
        <td>
            <a href="/cms/editor/push-dog?dog_id={{ v.dog_id }}">push</a>////
            <!--a href="/cms/editor/cancel-dog?dog_id={{ v.dog_id }}">cancel</a-->
        </td>
    </tr>
{% endfor %}
{% endif %}
</tbody>
</table>
<div class="summary">最新的100条狗狗数据</div>
       {{
  widget('\\yii\\grid\\GridView', {            
            'id':'app-grid', 
            'class':'grid-view',
            'dataProvider':model.getAllOldData(), 
            'filterModel':model, 
            'columns':{
                1:'dog_id',
                2:{'attribute':'dog_name',},
                3:{'attribute':'dog_userid'},
                4:{'attribute':'dog_headid','format':'html','value':model.getHead(),},
                5:{
                    'attribute':'push',
                    'format':'html',
                    'value':model.getAhref(),
                }
}})

}}
<!--ul class="pagination">
<li class="active">
    <input type="button" value="批量发布到首页" onclick="pushAllToIndex('push')">
    <input type="button" value="批量取消发布" onclick="pushAllToIndex('cancel')"></li>
</ul--></div>
</div>
<script type="text/javascript">
$(".delete").attr("onClick",'return confirm("是否将此用户信息删除?")');
</script>
<script type="text/javascript">
    $("body").find("input[name='checkall']").click(function(){
        var ischeck = $(this).prop("checked");
        if(ischeck){
            $("input[type='checkbox']").attr("checked","checked");
        }else{
            $("input[type='checkbox']").attr("checked","");
        }
    });
    // function checkAll(){

    // }
    function pushAllToIndex(act){
        var data = [];
        $("input[name='selection[]']:checkbox").each(function(){
            if($(this).prop("checked")){
                data.push($(this).val());
            }
        });

        if(data.length >0){
            if(act == 'push'){
                url = '/cms/editor/checkall?act=push';
            }else{
                url = '/cms/editor/checkall?act=cancel';
            }
            $.post(url,{'selection[]':data},function(data){
                alert("有"+data+"只宠物被成功推送到首页展示！");
                // window.location.reload();
            });
        }else{
            alert("请选择要推送或取消的宠物的Id!");
        }
    }

</script>
{% endblock %}
