{% set menu_name = "order" %}
{% set sidebar_name = "订单列表" %}
{% extends "@app/views/layouts/header.twig" %}
  {% block content %}
      <!-- Page heading -->
      <div class="page-head">
        <h2 class="pull-left"><i class="fa fa-table"></i> Order</h2>

        <!-- Breadcrumb -->
        <div class="bread-crumb pull-right">
          <a href="/"><i class="fa fa-home"></i> Home</a> 
          <!-- Divider -->
          <span class="divider">/</span> 
          <a href="/order/list" class="bread-current">Order</a>
        </div>

        <div class="col-lg-5">
            <a href="/order/print?id={{ order.id }}" target="_blank" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-print">打印订单</i></a>
        </div>
        <div class="clearfix"></div>

      </div>
      <!-- Page heading ends -->

      <!-- Matter -->
      <div class="matter">
        <div class="container">

          <!-- Table -->

              <div class="col-md-4">
                <div class="widget">
                <div class="widget-head">
                  <div class="pull-left">订单详情</div>
                  <div class="widget-icons pull-right">
                    <a href="tables.html#" class="wminimize"><i class="fa fa-chevron-up"></i></a> 
                    <a href="tables.html#" class="wclose"><i class="fa fa-times"></i></a>
                  </div>  
                  <div class="clearfix"></div>
                </div>

                  <div class="widget-content">
{{ widget('\\yii\\widgets\\DetailView', {
      'model':order,
      'attributes':{
          0:'viewid',
          1:'recipients',
          2:'to_province',
          3:'to_city',
          4:'recipients_address',
          5:'recipients_contact',
          7:{'attribute':'storeroom_id','value':order.storeroom.name},
          8:'info',
          9:{
            'attribute':'状态',
            'format':'raw',
            'value':order.getOrderStatus(),
          }
      }

} )
  
}}
                    

                    

                  </div>
                </div>
              </div>

                            <div class="col-md-4">

                <div class="widget">

                <div class="widget-head">
                  <div class="pull-left">订单内容</div>
                  <div class="widget-icons pull-right">
                    <a class="wminimize" href="tables.html#"><i class="fa fa-chevron-up"></i></a> 
                    <a class="wclose" href="tables.html#"><i class="fa fa-times"></i></a>
                  </div>  
                  <div class="clearfix"></div>
                </div>

                  <div class="widget-content">

                    <table class="table table-striped table-bordered table-hover">
                      <thead>
                        <tr>
                          <th>物料编码</th>
                          <th>物料名称</th>
                          <th>发货数量</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for de in detail %}
                        <tr>
                          <td>{{ de.goods_code }}</td>
                          <td>{{ de.material.name }}</td>
                          <td>{{ de.goods_quantity }}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>

                  </div>

                </div>
              </div>


                            <div class="col-md-4">
{% if package is not empty %}
                               <div class="widget">

                <div class="widget-head">
                  <div class="pull-left">包装明细</div>
                  <div class="widget-icons pull-right">
                    <a href="tables.html#" class="wminimize"><i class="fa fa-chevron-up"></i></a> 
                    <a href="tables.html#" class="wclose"><i class="fa fa-times"></i></a>
                  </div>  
                  <div class="clearfix"></div>
                </div>

                                   <div class="widget-content">
{{ widget('\\yii\\widgets\\DetailView', {
      'model':package,
      'attributes':{
          0:'num',
          1:'actual_weight',
          2:'throw_weight',
          3:{'attribute':'volume','value':package.volume,'format':'raw'},
          4:'box',
          5:{'attribute':'box','value':package.getPackageStatus()},
          8:'info',
          9:'created',
      }

} )
  
}}

                  </div>
                </div>
                {% endif %}
              </div>

 <div class="col-md-4">
{% if sign is not empty %}

                <div class="widget">

                <div class="widget-head">
                  <div class="pull-left">签收情况</div>
                  <div class="widget-icons pull-right">
                    <a class="wminimize" href="tables.html#"><i class="fa fa-chevron-up"></i></a> 
                    <a class="wclose" href="tables.html#"><i class="fa fa-times"></i></a>
                  </div>  
                  <div class="clearfix"></div>
                </div>

                  <div class="widget-content">
                    {{ widget('\\yii\\widgets\\DetailView', {
      'model':sign,
      'attributes':{
          0:'signer',
          1:{'label':'签收状态','value':sign.getSignType()},
          2:'sign_date',
          3:'info',
          4:{'label':'签收图片','value':sign.getImage(),'format':'raw'},
      }

} )
  
}}

                  </div>

                </div>
{% endif %}
              </div>

            </div>
        </div>

      </div>
<script type="text/javascript">
function changeStatus(orderid){
    $('#image_num').val(orderid);
    this.click();
}
function submitChangeOrder(){
    $('#uploadimageForm').submit();
}
</script>
{% endblock %}
