{{ this.beginPage() }}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <!-- Title and other stuffs -->
  <title>Bootstrap Admin</title> 
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="">
  <!-- Stylesheets -->
  <!-- <link href="/style/bootstrap.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="/style/font-awesome.css">
  <script src="/js/jquery.js"></script>
  <!-- HTML5 Support for IE -->
  <!--[if lt IE 9]>
  <script src="/js/html5shim.js"></script>
  <![endif]-->
  {{ this.head() }}
  <!-- Favicon -->
  <link rel="shortcut icon" href="/img/favicon/favicon.png">
  <!-- Favicon -->
  {{ void(appasset.register(this)) }}
</head>
<body>
    
    {{ this.beginBody() }}
    
    
    
    {{ content|raw }}


<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
            <!-- Copyright info -->
            <p class="copy">Copyright &copy; 2012 | <a href="#">Your Site</a> </p>
      </div>
    </div>
  </div>
</footer>
<span class="totop"><a href="#"><i class="icon-chevron-up"></i></a></span> 
<!-- Scroll to top -->
    <!-- <?php $this->endBody() ?> -->
     {{ this.endBody() }} 
    <script src="/js/bootstrap.js"></script>
    <script src="/js/jquery-ui-1.9.2.custom.min.js"></script> <!-- jQuery UI -->
<script src="/js/fullcalendar.min.js"></script> <!-- Full Google Calendar - Calendar -->
<script src="/js/jquery.rateit.min.js"></script> <!-- RateIt - Star rating -->
<script src="/js/jquery.prettyPhoto.js"></script> <!-- prettyPhoto -->

<!-- jQuery Flot -->
<script src="/js/excanvas.min.js"></script>
<script src="/js/jquery.flot.js"></script>
<script src="/js/jquery.flot.resize.js"></script>
<script src="/js/jquery.flot.pie.js"></script>
<script src="/js/jquery.flot.stack.js"></script>

<!-- jQuery Notification - Noty -->
<script src="/js/jquery.noty.js"></script> <!-- jQuery Notify -->
<script src="/js/themes/default.js"></script> <!-- jQuery Notify -->
<script src="/js/layouts/bottom.js"></script> <!-- jQuery Notify -->
<script src="/js/layouts/topRight.js"></script> <!-- jQuery Notify -->
<script src="/js/layouts/top.js"></script> <!-- jQuery Notify -->
<!-- jQuery Notification ends -->

<script src="/js/sparklines.js"></script> <!-- Sparklines -->
<script src="/js/jquery.cleditor.min.js"></script> <!-- CLEditor -->
<script src="/js/bootstrap-datetimepicker.min.js"></script> <!-- Date picker -->
<script src="/js/jquery.uniform.min.js"></script> <!-- jQuery Uniform -->
<script src="/js/bootstrap-switch.min.js"></script> <!-- Bootstrap Toggle -->
<script src="/js/filter.js"></script> <!-- Filter for support page -->
<script src="/js/custom.js"></script> <!-- Custom codes -->
<script src="/js/charts.js"></script> <!-- Charts & Graphs -->   
</body>
</html>
{{ this.endPage() }}