{% set menu_name = "editor"%}
{% set sidebar_name = "新建模块" %}
{% include "@gcommon/cms/views/layouts/cmstop2.twig" %}
{% block content %}
<div class="content">
<link rel="stylesheet" href="/js/codemirror/lib/codemirror.css">
<script src="/js/codemirror/lib/codemirror.js"></script>
<script src="/js/codemirror/mode/xml/xml.js"></script>
<style type="text/css">
.help
{
color:red;
}
.overlay
{
 position: fixed;
z-index:100;
top: 0px;
left: 0px;
height:100%;
width:100%;
color:red;
    background-color:#666666;
    filter:alpha(opacity=75);
-moz-opacity: 0.75;
opacity: 0.75;
text-align:center;

}
.newwindow
{
background-color:#ffffff;
position:fixed;
z-index:102;
border:#d8d8d8 2px solid;
width:400px;
height:200px;
top:50%;
left:50%;
margin-left:-100px;
margin-top:-100px;
color:red;
}
.caption{
height:25px;
width:280px;
padding:20px 80px 10px 25px;
float:left;
}
.close{
height:25px;
padding-top:5px;
padding-right:5px;
float:right;
color:block;
cursor:hand;
}
.picCount{
  margin-top:10px;padding:10px 0;border-top:1px solid #ccc;
}
.fl{float:left;}
.form-control{width:350px;}
.controls li{clear:both;padding:2px 0;line-height:34px;}
.controls li span.dt{font-size:14px;float:left;text-align:right;width:60px;padding-right:8px;}
.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clearfix{zoom:1;}
.control-group{width:500px;}
</style>
<style type="text/css">
  .CodeMirror {border-top: 1px solid #888; border-bottom: 1px solid #888;}
</style>
    <div class="container-fluid">
    <div class="row-fluid">
     

         <div class="form">
        {% set form = activeform.begin({'id':'create-form','options':{'class':'form-horizontal'}}) %}
        <div class="form-wrapper">
            <div id="form-body" >
                <div id="form-body-content">
                  <div id="titlewrap">
                    {{ form.field(block, 'page_type').dropDownList(block.getBlockPageType())|raw }}
                  </div>
                  <div id="titlewrap">
                    {{ form.field(block,'name')|raw }}
                  </div>
                  <a class="btn btn-success" onclick="return showUpload();">add-image</a>
                  <div id="uploads">
                      {% if isNew != true %}
                          {% for key,value in block.params.picture %}
                            <div class="picCount clearfix" id="pic_{{ loop.index }}"><a class="btn btn-danger" onclick="return deletePic('pic_{{ loop.index }}');">delete</a><br/>
                              <div class="control-group fl">
                                  <ul class="controls">
                                      <li>
                                        <span class="dt">标题:</span>
                                        <input class="form-control" type="text" name="Block[params][picture][{{ loop.index }}][imgname]" value="{{ value.imgname }}" />
                                      </li>
                                      <li>
                                      <span class="dt">链接:</span>
                                      <input class="form-control" type="text" name="Block[params][picture][{{ loop.index }}][imglink]" value="{{ value.imglink }}" />
                                      </li>
                                      <li>
                                      <span class="dt">时间:</span>
                                      <input type="text" class="form-control" name="Block[params][picture][{{ loop.index }}][time]" value="{{ value.time }}" /></li>
                                      <!-- 介绍:<input type="text" name="Block[params][picture][{{ loop.index }}][desc]" value="{{ value.desc }}" /><br/> -->
                                      <li>
                                      <span class="dt">排序:</span>
                                      <input class="form-control" name="Block[params][picture][{{ loop.index }}][order]"/>
                                      </li>
                                      <li>
                                      <span class="dt">介绍:</span>
                                      <textarea class="form-control" name="Block[params][picture][{{ loop.index }}][desc]" />{{ value.desc }}</textarea>
                                      </li>
                                      <li>
                                      <span class="dt">图片:</span>
                                      <input type="text" name="Block[params][picture][{{ loop.index }}][url]" class="form-control fl img_image{{ loop.index }}" value="{{ value.url }}" />
                                      <span class="fl">插入</span>      
                                      <img class="fl" align="absmiddle" alt="Image" title="Image" onClick="uploadFile('{{ loop.index }}');" src="/images/insert_image.png" />
                                      </li>
                                  </ul>
                              </div>
                              <div class="control-group fl">
                                      <div class="controls">
                                          <a href="{{ value.url }}" target="_blank"><img class="img_image{{ loop.index }}" width="150" height="150" src="{{ value.url }}" /></a>
                                      </div>
                              </div>
                            </div>
                          {% endfor %}
                      {% else %}
                      {% endif %}
                  </div>
                  {% if isNew == false %}
                    {% for name,role in App.authManager.getRolesByUser(App.user.id) %}
                      <div id="titlewrap">
                       {{ form.field(block,'html').textArea({'row':2})|raw }}
                      </div>
                    {% endfor %}
                  {% endif %}

                  {% for name,role in App.authManager.getRolesByUser(App.user.id) %}
                    {% if name != "editor" %}
                    <div id="bodywrap">
                     {{ form.field(block,'content').textArea({'row':20,"id":"Block_content"})|raw }}  
                    </div>
                    {% endif %}
                  {% endfor %}
                  <input type="hidden" value="{{ type }}" name="Block[type]" />
                </div>
            </div>
                        
        </div>
        
    <div class="control-group">
      <div class="form-group">
                        <input type='submit' value='提交' class='btn btn-large btn-primary' /> 
            </div>
    </div>
        <br class="clear" />
         {{ void(form.end()) }}
        <script type="text/javascript">

            var i=$(".picCount").length;
            function showUpload(){
              i++;
              var str='<div class="picCount clearfix" id="pic_'+i+'"><a class="btn btn-danger" onclick="return deletePic(\'pic_'+i+'\');">delete</a><br/>';
                str+='<div class="control-group fl"><ul class="controls">';
                str+='<li><span class="dt">标题:</span><input class="form-control" type="text" value="" name="Block[params][picture]['+i+'][imgname]" /></li>';
                str+='<li><span class="dt">链接:</span><input class="form-control" type="text" value="" name="Block[params][picture]['+i+'][imglink]" /></li>';
                str+='<li><span class="dt">时间:</span><input class="form-control" type="text" value="" name="Block[params][picture]['+i+'][time]" /></li>';
                str+='<li><span class="dt">排序:</span><input type="text" class="form-control" name="Block[params][picture]['+i+'][order]" /></li>';
                str+='<li><span class="dt">介绍:</span><textarea class="form-control" name="Block[params][picture]['+i+'][desc]" /></textarea></li>';
                str+='<li><span class="dt">图片:</span><input type="text" value="" class="form-control fl img_image'+i+'" name="Block[params][picture]['+i+'][url]" />';
                str+='<img align="absmiddle" alt="Image" title="Image" onClick="uploadFile('+i+');" src="/images/insert_image.png" /></li></ul></div>';
                str+='<div class="control-group fl"><div class="controls"><a href="" id="openlink" target="_blank"><img class="img_image'+i+'" width="150" height="150" src=""  /></a></div></div><input type="hidden" id="img_image'+i+'" name="Block[params][picture]['+i+'][image]">';
                str+='</div>';
              $("#uploads").append(str);
              var h = $("#pic_"+i).offset().top;
              $("body,html").animate({scrollTop:h},100);
              $("#pic_"+i).find("form-control:first").focus();
            }

            function deletePic(id){
                $("#"+id).html("");
            }

        </script>
      </div><!-- form -->
</div>
</div>
</div>
</div>

<script>

function uploadFile(num){
    $(".content").append("<div id='newlayer' class=\"overlay\"></div>");
    $(".content").append("<div id='newwindow' class=\"newwindow\"><div id='close' class='close'>close</div><div class='caption'>选择上传的图片<form id=\"uploadFrom\" action=\"/cms/block/uploadfile\" method=\"post\" target=\"tarframe\" enctype=\"multipart/form-data\"><input type=\"file\" id=\"upload_file\" name=\"upload\"><input type='hidden' name='num' value='"+num+"' ><br><input type='submit' id='submitId' value='上传' ></form><iframe src='' width='0' height='0' style=\"display:none;\" name=\"tarframe\"></iframe></div></div>");
    $("#close").click(function(){
        $("#newlayer").remove();
        $("#newwindow").remove();
    });
}

</script>
<script type="text/javascript">
    function putSubmit(){
      $("#uploadFrom").submit();
    }
    function stopSend(num,img){
         $(".img_image"+num).val(img);
        $(".img_image"+num).attr("src",img);
        $("#openlink").attr("href",img);
        $("#newlayer").remove();
        $("#newwindow").remove();
    }
</script>
<script type="text/javascript">
    $(document).ready(function() {
        var editor = CodeMirror.fromTextArea(document.getElementById("Block_content"), {
            lineNumbers: true,
            mode: "text/html",
        });
    });
</script>
{% endblock %}