<table width="100%" border="0" cellpadding="0" cellspacing="1" bgcolor="#000000">
  <tr>
    <td height="40" colspan="2" bgcolor="#FFFFFF">订单号：{{ order.viewid }}</td>
  </tr>
  <tr>
    <td width="13%" height="220" bgcolor="#FFFFFF"><div align="center">物料</div></td>
    <td bgcolor="#FFFFFF">
      {% for de in detail %}
      物料编码:{{ de.goods_code }}&nbsp;&nbsp;&nbsp;&nbsp;物料名称:{{ de.material.name }}&nbsp;&nbsp;&nbsp;&nbsp;发货数量:{{ de.goods_quantity }}</br>
      {% endfor %}
    </td>
  </tr>
  <tr>
    <td height="40" bgcolor="#FFFFFF"><div align="center">收货人</div></td>
    <td bgcolor="#FFFFFF">{{ order.recipients }}</td>
  </tr>
  <tr>
    <td height="40" bgcolor="#FFFFFF"><div align="center">收货地址</div></td>
    <td bgcolor="#FFFFFF">{{ order.recipients_address }}</td>
  </tr>
  <tr>
    <td height="40" bgcolor="#FFFFFF"><div align="center">联系方式</div></td>
    <td bgcolor="#FFFFFF">{{ order.recipients_contact }}</td>
  </tr>
  <tr>
    <td height="40" bgcolor="#FFFFFF"><div align="center">发货城市</div></td>
    <td bgcolor="#FFFFFF">{{ order.storeroom.name }}</td>
  </tr>
  <tr>
    <td height="40" bgcolor="#FFFFFF"><div align="center">运输需求</div></td>
    <td bgcolor="#FFFFFF">{{ order.limitday }}</td>
  </tr>
  <tr>
    <td height="40" bgcolor="#FFFFFF"><div align="center">活动</div></td>
    <td width="87%" bgcolor="#FFFFFF">{{ order.goods_active }}</td>
  </tr>
  <tr>
    <td height="189" bgcolor="#FFFFFF"><div align="center">备注</div></td>
    <td bgcolor="#FFFFFF">{{ order.info }}</td>
  </tr>
</table>