{% include "../layouts/notice.twig" %}
<div id="main-content-zone">
  <div class="page-content"> 
    <div id="inner" style="width:100%;float:left;">
      <div class="form">
       {% set form = activeform.begin({'id':'create-form','options':{'enctype':'multipart/form-data','class':'form-horizontal'}}) %}
        <div class="form-wrapper">
            <div id="form-body" >
                <div id="form-body-content">
                    {{ form.field(model, 'name')|raw }}
                    {{ form.field(model, 'version')|raw }}
                    {{ form.field(model, 'upload').fileInput()|raw }}
                    {{ form.field(model,'message').textArea({'row':20,"id":""})|raw }} 
                </div>
            </div>
                        
        </div>
        
    <div class="control-group">
      <div class="controls">
        <div class="form-group">
            <input type='submit' value='提交' class='btn btn-large btn-primary' /> 
      </div>
      </div>
    </div>
    {{ void(form.end()) }}
        <br class="clear" />
      </div><!-- form -->
    </div>
  </div>
</div>
