{% set menu_name="news"%}
{% set sidebar_name = "新建模板" %}
{% include "@gcommon/cms/views/layouts/cmstop2.twig" %}
{% block content %}
<div class="content">
<link rel="stylesheet" href="/js/codemirror/lib/codemirror.css">
<script src="/js/codemirror/lib/codemirror.js"></script>
<script src="/js/codemirror/mode/xml/xml.js"></script>
<style type="text/css">
  .CodeMirror {border-top: 1px solid #888; border-bottom: 1px solid #888;}
</style>
<div class="container-fluid">
    <div class="row-fluid">
      <div id="main-content-zone">
  <div class="page-content"> 
    <div id="inner" style="width:100%;float:left;">
      <h2>修改模板</h2>
      {% include "@gcommon/cms/views/layouts/notice.twig" %}
      <div class="form">
        {% set form = activeform.begin({'id':'create-form','options':{'enctype':'multipart/form-data','class':'form-horizontal'}}) %}
        <div class="form-wrapper">
            <div id="form-body" >
                <div id="form-body-content">
                  <div id="titlewrap">
                    {{ form.field(model, 'name')|raw }}
                  </div>
                  <div id="titlewrap">
                         {{ form.field(model, 'type').dropDownList(model.templetetypes)|raw }}
                  </div>
                  <div id="titlewrap">
                         {{ form.field(model, 'upload').fileInput()|raw }}
                  </div>
                  <div id="titlewrap">
                        {{ form.field(model,'content').textArea({'row':20,"id":"code"})|raw }}
                        </div>
                </div>
            </div>
                        
        </div>
        
    <div class="control-group">
      <div class="controls">
        <div class="form-group">
            <input type='submit' value='提交' class='btn btn-large btn-primary' /> 
      </div>
      </div>
    </div>
        <br class="clear" />
        {{ void(form.end()) }}
      </div><!-- form -->
    </div>
  </div>
</div>
    </div>
</div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
            lineNumbers: true,
            mode: "text/html",
        });
    });
</script>
{% endblock %}


